<header id="main-header" class="site-header clearfix">
    <div id="header" class="box-animate">
        <div id="main-menu" class="displayNone" ng-controller="main-menu">
            <button class="header-icon menu"></button>
        </div>
        <div class="main-menu-vertical">
            <ul>
                <li class="MSelected"><a href="" title="">Главная</a></li>
                <li><a href="" title="">Первая категория</a></li>
                <li><a href="" title="">Вторая категория</a></li>
                <li><a href="" title="">Третья категория</a></li>
            </ul>
        </div>
        <div class="site-title site-name">Travel <span>Blog</span></div>
        <p class="site-description">Professional Blog HTML Template</p>
        <!--button class="header-icon" id="btn-search"><i class="fa fa-search"></i></button-->
    </div>

    <div id="site-search" class="box-animate">
        <div class="box-animate">
            <form action="http://pro-g-f.com/themes/html/grid312/#" method="post" class="clearfix">
                <input type="search" placeholder="Type Keywords &amp; Press Enter...">
            </form>
            <button type="button" class="close"><i class="fa fa-times"></i></button>
        </div>
    </div>
</header>