<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
      class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="product" content="Grid312 Blog Template">
    <meta property="og:title" content="Grid312 :: Home">
    <meta property="og:site_name" content="Grid312 Demo">
    <meta property="og:description" content="Grid312 - Professional Blog HTML Template">
    <meta property="og:url" content="http://pro-g-f.com/themes/html/grid312/">
    <meta property="og:image" content="http://pro-g-f.com/html/grid312/">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Grid312 - Professional Blog HTML Template">
    <meta name="twitter:title" content="Grid312 :: Home">
    <meta name="twitter:domain" content="Grid312 Demo">
    <meta name="twitter:image:src" content="http://pro-g-f.com/html/grid312/">
    <meta name="keywords" content="blog, magazine, masonry, metro, modern, responsive, squares, template">
    <meta name="description" content="Grid312 - Professional Blog HTML Template">
    <title>Grid312 : : Home</title>
    <!--link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,900,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/licenses.css" rel="stylesheet">

</head>
<body class="home" ng-app="main-ui">
<div class="main">
    <div class="main-wrapper clearfix">
        <%- include header %>
        <%- body %>
    </div>
    <%- include footer %>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>