<% layout('./layout/main.ejs') -%>
<h1 class="site-title site-name">Travel <span>Blog</span></h1>
<div class="site-content main-grid">
    <div class="grids2">
        <article class="triple double-vertical">
            <div class="GImage"><img src="images/001.jpg" alt="DINOSAURS ARE STILL ALIVE"></div>
            <div class="GIntres">
                <time datetime="2015-05-10">10 May</time>
                <h5>dinosaurs are still alive <a class="GILink" href="" title="ПОДРОБНЕЕ...">Подробнее...</a>
                </h5>
                <span class="nickname">mee buban</span>
                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum,
                    qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
            </div>
        </article>
        <article>
            <div class="GImage"><img src="images/002.jpg" alt="DINOSAURS ARE STILL ALIVE"></div>
            <div class="GIntres">
                <time datetime="2015-05-10">10 May</time>
                <h5>dinosaurs are still alive</h5>
                <span class="nickname">People</span>
                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum,
                    qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
            </div>
        </article>
        <article class="ArtColor ArtRed">
            <div class="GImage"></div>
            <div class="GIntres">
                <h5>33</h5>
                <span class="nickname">Саммые красивые горы на планете</span>
                <a class="GILink" href="" title="ПОДРОБНЕЕ...">Подробнее</a>
            </div>
        </article>
        <article>
            <div class="GImage"><img src="images/006.jpg" alt="DINOSAURS ARE STILL ALIVE"></div>
            <div class="GIntres">
                <time datetime="2015-05-10">10 May</time>
                <h5>dinosaurs are still alive</h5>
                <span class="nickname">mee buban</span>
                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel
                    illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
            </div>
        </article>
        <article>
            <div class="GImage"><img src="images/006.jpg" alt="DINOSAURS ARE STILL ALIVE"></div>
            <div class="GIntres">
                <time datetime="2015-05-10">10 May</time>
                <h5>dinosaurs are still alive</h5>
                <span class="nickname">mee buban</span>
                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel
                    illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
            </div>
        </article>
        <article class="double-vertical">
            <div class="GImage"><img src="images/003.jpg" alt="DINOSAURS ARE STILL ALIVE"></div>
            <div class="GIntres">
                <time datetime="2015-05-10">10 May</time>
                <h5>dinosaurs are still alive</h5>
                <span class="nickname">mee buban</span>
                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum,
                    qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
            </div>
        </article>
        <article class="double">
            <div class="GImage"><img src="images/005.jpg" alt="DINOSAURS ARE STILL ALIVE"></div>
            <div class="GIntres">
                <time datetime="2015-05-10">10 May</time>
                <h5>dinosaurs are still alive</h5>
                <span class="nickname">mee buban</span>
                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum,
                    qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
            </div>
        </article>
        <article>
            <div class="GImage"><img src="images/006.jpg" alt="DINOSAURS ARE STILL ALIVE"></div>
            <div class="GIntres">
                <time datetime="2015-05-10">10 May</time>
                <h5>dinosaurs are still alive</h5>
                <span class="nickname">mee buban</span>
                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum,
                    qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
            </div>
        </article>
        <article>
            <div class="GImage"><img src="images/007.jpg" alt="DINOSAURS ARE STILL ALIVE"></div>
            <div class="GIntres">
                <time datetime="2015-05-10">10 May</time>
                <h5>dinosaurs are still alive</h5>
                <span class="nickname">mee buban</span>
                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum,
                    qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
            </div>
        </article>
        <article>
            <div class="GImage"><img src="images/008.jpg" alt="DINOSAURS ARE STILL ALIVE"></div>
            <div class="GIntres">
                <time datetime="2015-05-10">10 May</time>
                <h5>dinosaurs are still alive</h5>
                <span class="nickname">mee buban</span>
                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum,
                    qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
            </div>
        </article>
        <article>
            <div class="GImage"><img src="images/009.jpg" alt="DINOSAURS ARE STILL ALIVE"></div>
            <div class="GIntres">
                <time datetime="2015-05-10">10 May</time>
                <h5>dinosaurs are still alive</h5>
                <span class="nickname">mee buban</span>
                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum,
                    qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
            </div>
        </article>
        <article>
            <div class="GImage"><img src="images/004.jpg" alt="DINOSAURS ARE STILL ALIVE"></div>
            <div class="GIntres">
                <time datetime="2015-05-10">10 May</time>
                <h5>dinosaurs are still alive</h5>
                <span class="nickname">mee buban</span>
                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum,
                    qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
            </div>
        </article>
        <article class="ArtColor ArtRed">
            <div class="GImage"></div>
            <div class="GIntres">
                <h5>33</h5>
                <span class="nickname">Саммые красивые горы на планете</span>
                <a class="GILink" href="" title="ПОДРОБНЕЕ...">Подробнее</a>
            </div>
        </article>
        <article>
            <div class="GImage"><img src="images/009.jpg" alt="DINOSAURS ARE STILL ALIVE"></div>
            <div class="GIntres">
                <time datetime="2015-05-10">10 May</time>
                <h5>dinosaurs are still alive</h5>
                <span class="nickname">mee buban</span>
                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum,
                    qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
            </div>
        </article>
        <article>
            <div class="GImage"><img src="images/009.jpg" alt="DINOSAURS ARE STILL ALIVE"></div>
            <div class="GIntres">
                <time datetime="2015-05-10">10 May</time>
                <h5>dinosaurs are still alive</h5>
                <span class="nickname">mee buban</span>
                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum,
                    qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
            </div>
        </article>
    </div>
    <nav class="pag">
        <ul class="pagination">
            <li class="disabled">
                <a href="http://pro-g-f.com/themes/html/grid312/#" aria-label="Previous">
                    <span data-hidden_el="true"><i class="fa fa-caret-left"></i>Previous</span>
                </a>
            </li>
            <li class="active"><a href="http://pro-g-f.com/themes/html/grid312/#">1</a></li>
            <li><a href="http://pro-g-f.com/themes/html/grid312/#">2</a></li>
            <li><a href="http://pro-g-f.com/themes/html/grid312/#">3</a></li>
            <li><a href="http://pro-g-f.com/themes/html/grid312/#">4</a></li>
            <li class="disabled"><a href="http://pro-g-f.com/themes/html/grid312/#">...</a></li>
            <li><a href="http://pro-g-f.com/themes/html/grid312/#">16</a></li>
            <li>
                <a href="http://pro-g-f.com/themes/html/grid312/#" aria-label="Next">
                    <span data-hidden_el="true">next<i class="fa fa-caret-right"></i></span>
                </a>
            </li>
        </ul>
    </nav>
</div>