<% layout('./layout/inner.ejs') -%>
<div class="main-center">
    <div class="col-xs-12 site-content">
        <article>
            <h1>THE MOST DELICIOUS PIZZA</h1>
            <div class="ArticleTags">
                <span>MEE BUBAN</span>
                <time datetime="2015-05-10">10 May</time>
            </div>
            <div class="SCSmallDesc">
                Accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem,
                quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui
                ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit,
                amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et
                dolore magnam aliquam quaerat voluptatem.
            </div>

            <div>
                <div class="col-xs-1">
                    <div id="share-buttons">
                        <!-- Facebook -->
                        <a href="http://www.facebook.com/sharer.php?u=http://pro-g-f.com/themes/html/grid312/post.php"
                           class="social facebook" target="_blank"><i class="fa fa-facebook"></i></a>

                        <!-- Twitter -->
                        <a href="http://twitter.com/share?url=http://pro-g-f.com/themes/html/grid312/post.php&amp;text=Grid312&amp;hashtags=grid312"
                           class="social twitter" target="_blank"><i class="fa fa-twitter"></i></a>

                        <!-- Google+ -->
                        <a href="https://plus.google.com/share?url=http://pro-g-f.com/themes/html/grid312/post.php"
                           class="social google-plus" target="_blank"><i class="fa fa-google-plus"></i></a>

                        <!-- LinkedIn -->
                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://pro-g-f.com/themes/html/grid312/post.php"
                           class="social linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>

                        <!-- Pinterest -->
                        <!--<a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" class="social pinterest"><i class="fa fa-pinterest-p"></i></a>-->

                        <!-- Email -->
                        <a href="mailto:?Subject=Grid312&Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://pro-g-f.com/themes/html/grid312/post.php"
                           class="social envelope"><i class="fa fa-envelope"></i></a>

                    </div>
                </div>
                <div class="col-xs-11">
                    <h2>Accusantium doloremque laudantium</h2>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in
                        ea
                        voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum
                        fugiat,
                        quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus,
                        qui
                        blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas
                        molestias
                        excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia
                        deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
                        est
                        et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque
                        nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas
                        assumenda
                        est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut
                        rerum
                        necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non
                        recusandae.
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus
                        maiores
                        alias consequatur aut perferendis doloribus asperiores repellat.</p>
                    <div class="tag-links">
                        <a rel="tag"
                           href="http://pro-g-f.com/themes/html/grid312/post.php#"><span>QUIS</span></a>
                        <a rel="tag" href="http://pro-g-f.com/themes/html/grid312/post.php#"><span>AUTEM</span></a>
                        <a rel="tag"
                           href="http://pro-g-f.com/themes/html/grid312/post.php#"><span>VEL</span></a>
                        <a rel="tag"
                           href="http://pro-g-f.com/themes/html/grid312/post.php#"><span>EUM</span></a>
                        <a rel="tag"
                           href="http://pro-g-f.com/themes/html/grid312/post.php#"><span>REPREHENDERIT</span></a>
                        <a rel="tag"
                           href="http://pro-g-f.com/themes/html/grid312/post.php#"><span>VOLUPTATE</span></a>
                    </div>

                </div>
            </div>

            <div class="otherItems">
                <h2 class="big">Смотрите также....</h2>
                <div class="site-content main-grid">
                    <div class="grids2">
                        <div class="article double double-vertical">
                            <div class="GImage"><img src="images/001.jpg"
                                                     alt="DINOSAURS ARE STILL ALIVE">
                            </div>
                            <div class="GIntres">
                                <time datetime="2015-05-10">10 May</time>
                                <h5>dinosaurs are still alive <a class="GILink" href="" title="ПОДРОБНЕЕ...">Подробнее...</a>
                                </h5>
                                <span class="nickname">mee buban</span>
                                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem
                                    ullam
                                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                    Quis
                                    autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil
                                    molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla
                                    pariatur?</p>
                            </div>
                        </div>
                        <div class="article double double-vertical">
                            <div class="GImage"><img src="images/002.jpg"
                                                     alt="DINOSAURS ARE STILL ALIVE">
                            </div>
                            <div class="GIntres">
                                <time datetime="2015-05-10">10 May</time>
                                <h5>dinosaurs are still alive</h5>
                                <span class="nickname">People</span>
                                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem
                                    ullam
                                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                    Quis
                                    autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil
                                    molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla
                                    pariatur?</p>
                            </div>
                        </div>
                        <div class="article">
                            <div class="GImage"><img src="images/003.jpg"
                                                     alt="DINOSAURS ARE STILL ALIVE">
                            </div>
                            <div class="GIntres">
                                <time datetime="2015-05-10">10 May</time>
                                <h5>dinosaurs are still alive</h5>
                                <span class="nickname">mee buban</span>
                                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem
                                    ullam
                                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                    Quis
                                    autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil
                                    molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla
                                    pariatur?</p>
                            </div>
                        </div>
                        <div class="article">
                            <div class="GImage"><img src="images/005.jpg"
                                                     alt="DINOSAURS ARE STILL ALIVE">
                            </div>
                            <div class="GIntres">
                                <time datetime="2015-05-10">10 May</time>
                                <h5>dinosaurs are still alive</h5>
                                <span class="nickname">mee buban</span>
                                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem
                                    ullam
                                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                    Quis
                                    autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil
                                    molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla
                                    pariatur?</p>
                            </div>
                        </div>
                        <div class="article">
                            <div class="GImage"><img src="images/006.jpg"
                                                     alt="DINOSAURS ARE STILL ALIVE">
                            </div>
                            <div class="GIntres">
                                <time datetime="2015-05-10">10 May</time>
                                <h5>dinosaurs are still alive</h5>
                                <span class="nickname">mee buban</span>
                                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem
                                    ullam
                                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                    Quis
                                    autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil
                                    molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla
                                    pariatur?</p>
                            </div>
                        </div>
                        <div class="article">
                            <div class="GImage"><img src="images/001.jpg"
                                                     alt="DINOSAURS ARE STILL ALIVE">
                            </div>
                            <div class="GIntres">
                                <time datetime="2015-05-10">10 May</time>
                                <h5>dinosaurs are still alive <a class="GILink" href="" title="ПОДРОБНЕЕ...">Подробнее...</a>
                                </h5>
                                <span class="nickname">mee buban</span>
                                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem
                                    ullam
                                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                    Quis
                                    autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil
                                    molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla
                                    pariatur?</p>
                            </div>
                        </div>
                        <div class="article">
                            <div class="GImage"><img src="images/002.jpg"
                                                     alt="DINOSAURS ARE STILL ALIVE">
                            </div>
                            <div class="GIntres">
                                <time datetime="2015-05-10">10 May</time>
                                <h5>dinosaurs are still alive</h5>
                                <span class="nickname">People</span>
                                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem
                                    ullam
                                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                    Quis
                                    autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil
                                    molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla
                                    pariatur?</p>
                            </div>
                        </div>
                        <div class="article">
                            <div class="GImage"><img src="images/003.jpg"
                                                     alt="DINOSAURS ARE STILL ALIVE">
                            </div>
                            <div class="GIntres">
                                <time datetime="2015-05-10">10 May</time>
                                <h5>dinosaurs are still alive</h5>
                                <span class="nickname">mee buban</span>
                                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem
                                    ullam
                                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                    Quis
                                    autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil
                                    molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla
                                    pariatur?</p>
                            </div>
                        </div>
                        <div class="article">
                            <div class="GImage"><img src="images/003.jpg"
                                                     alt="DINOSAURS ARE STILL ALIVE">
                            </div>
                            <div class="GIntres">
                                <time datetime="2015-05-10">10 May</time>
                                <h5>dinosaurs are still alive</h5>
                                <span class="nickname">mee buban</span>
                                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem
                                    ullam
                                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                    Quis
                                    autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil
                                    molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla
                                    pariatur?</p>
                            </div>
                        </div>
                        <div class="article">
                            <div class="GImage"><img src="images/005.jpg"
                                                     alt="DINOSAURS ARE STILL ALIVE">
                            </div>
                            <div class="GIntres">
                                <time datetime="2015-05-10">10 May</time>
                                <h5>dinosaurs are still alive</h5>
                                <span class="nickname">mee buban</span>
                                <p class="GIntresText">Ut enim ad minima veniam, quis nostrum exercitationem
                                    ullam
                                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                    Quis
                                    autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil
                                    molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla
                                    pariatur?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>